.betslip {
 width: 380px;
 height: 84.75vh;
 margin-left: 3.8%;
 margin-right: 3%;
 box-shadow: 0 15px 35px 0 rgba(26, 24, 27, 0.08), 0 0px 2px 3px rgba(228, 222, 222, 0.12);
 position: fixed;
 top: 16%;
 right: 0%;
 padding-bottom: 75px;
 overflow-x: hidden;
 display: flex;
 flex-direction: column;

}

.show-user-bets {
 overflow-y: auto;
 overflow-x: hidden;
 height: 100%;
}

.show-user-active-bets {
 height: 100%;
 overflow-y: auto;
 overflow-x: hidden;
 
}

/* Track */
.show-user-bets::-webkit-scrollbar-track {
 background: #7b1818;
}

/* Handle */
.show-user-bets::-webkit-scrollbar-thumb {
 background: lightgray;
 border-radius: 25px;
}

/* Handle on hover */
.show-user-bets::-webkit-scrollbar-thumb:hover {
 background: #555;
}

.betslip-title {
 text-align: center;
 text-transform: uppercase;
 padding: 15px 0;
 border-bottom: 2px solid #0B64BD;
 font-size: 20px;
 background-color: #ffffff;
 display: flex;
 align-items: center;
 /* box-shadow: 0 15px 35px 0 rgba(26, 24, 27, 0.08), 0 0px 2px 3px rgba(228, 222, 222, 0.12); */
  width: 100%;
 position: sticky;
 top: 0;
 z-index: 9999;
 padding-left: 40px;
}

.active-bets-toggle {
 margin-left: auto;
 padding-right: 10px;
}



.active-bets {
 position: absolute;
 left: 10px;
 background-color: #328ae2;
 color: white;
 border-radius: 50%;
 width: 25px;
 height: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 15px;

}

.clear-btn {
 color: rgb(241, 58, 58);
 height: 65px;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 border: none;
 box-shadow: 0 15px 35px 0 rgba(26, 24, 27, 0.08), 0 0px 2px 3px rgba(228, 222, 222, 0.12); 
 background-color: #ffffff;
 margin-top: 20px;
 cursor: pointer;
}

.clear-btn:hover {
 background-color: #F8D7DA;
}

.trash-icon {
 font-size: 18px;
 margin-right: 6px;
}

.bet-box {
 width: 100%;
 background-color: #fff;
 height: 65px;
 position: absolute;
 bottom: 0;
 border-top: 2px solid #0B64BD;
 display: flex;
 align-items: center;
 padding: 15px;
}

.parlay-info,
.info-icon {
 color: rgb(231, 54, 54);
}

.parlay-info {
 margin-left: 6px;
 font-size: 12px;
}

.learn-more-link {
 margin-left: auto;
 
}
